{% extends 'dnl1/wrapper.html' %}

{% block title %}
Структура та органи управління
{% endblock %}

{% block cssfiles %}
{% load static  %}
<!-- links css here -->
{% endblock %}

{% block content %}
{% include "dnl1/includes/page-title.html" with title='Структура та органи управління' %} 

<div class="container">
    <p style="text-align: center;background: transparent;margin-bottom: 0.11in;line-height: 108%;"><span style="width: 123px;">&nbsp;</span><strong>Засновник</strong></p>
<p style="margin-bottom: 0in;line-height: 100%;text-align: center;background: transparent;"><img src="{% static 'dnl1/images/managment-structure/dolyna.png' %}" alt=""></p>
<br>
<p style="text-align: justify;background: transparent;margin-bottom: 0.11in;line-height: 100%;"><strong>Засновником закладу освіти</strong> є Долинська міська рада Івано-Франківської області.</p>
<p style="text-align: justify;background: transparent;margin-bottom: 0.11in;line-height: 100%;"><strong>Уповноваженим органом управління</strong> закладом освіти є управління освіти Долинської міської ради Івано-Франківської області.</p>
<p style="text-align: justify;background: transparent;margin-bottom: 0.11in;line-height: 100%;"><strong>Найменування Ліцею</strong>:</p>
<p style="text-align: justify;background: transparent;margin-bottom: 0.11in;line-height: 100%;">- повне найменування&ndash;ДОЛИНСЬКИЙ ЛІЦЕЙ №1 Долинської міської ради Івано-Франківської області;</p>
<p style="text-align: justify;background: transparent;margin-bottom: 0.11in;line-height: 100%;">- скорочене найменування&ndash;ДОЛИНСЬКИЙ ЛІЦЕЙ №1</p>
<p style="text-align: justify;background: transparent;margin-bottom: 0.11in;line-height: 100%;"><strong>Юридична адреса</strong> ліцею: вулиця Пачовського, 3, місто Долина, Івано-Франківська область, 77500, Україна.</p>
<p style="text-align: justify;background: transparent;margin-bottom: 0.11in;line-height: 100%;"><br>&nbsp;</p>
<p style="text-align: justify;background: transparent;margin-bottom: 0.11in;line-height: 100%;"><br>&nbsp;</p>
<p style="text-align: center;background: transparent;margin-bottom: 0.11in;line-height: 108%;"><strong>Директор</strong></p>
<p style="text-align: center;background: transparent;margin-bottom: 0in;line-height: 100%;"><img src="{% static 'dnl1/images/managment-structure/head-teacher.jpg' %}" alt=""></p>
<p style="text-align: justify;background: transparent;margin-bottom: 0.11in;line-height: 100%;"><br>&nbsp;</p>
<p style="text-align: center;background: transparent;margin-bottom: 0in;line-height: 100%;"><strong>Макосій Віктор Богданович</strong></p>
<p style="margin-bottom: 0.11in;line-height: 108%;text-align: left;background: transparent;"><strong>Освіта:</strong></p>
<p style="margin-bottom: 0.11in;line-height: 108%;text-align: left;background: transparent;"><strong>Прикарпатський національний університет імені Василя Стефаника</strong>.</p>
<p style="margin-bottom: 0.11in;line-height: 108%;text-align: left;background: transparent;">Учитель вищої категорії. Завжди в центрі громадського життя, неодноразово обирався депутатом районної ради. Нагороджений дипломами, а також подяками за багаторічну сумлінну працю, вагомий внесок у справу виховання молодого покоління.</p>
<p style="margin-bottom: 0.11in;line-height: 108%;text-align: left;background: transparent;"><br>&nbsp;</p>
<p style="text-align: center;background: transparent;margin-bottom: 0in;line-height: 100%;"><strong>Загальні збори (конференція) Ліцею</strong></p>
<p style="text-align: center;background: transparent;margin-bottom: 0in;line-height: 100%;"><br></p>
<p style="text-align: center;background: transparent;margin-bottom: 0in;line-height: 100%;"><br></p>
<p style="text-align: center;background: transparent;margin-bottom: 0.11in;line-height: 108%;"><strong>Колегіальний орган управління Ліцеєм - педагогічна рада</strong></p>
<p class="mw-100" style="text-align: center;"><img class="mw-100" src="{% static 'dnl1/images/managment-structure/teachers.jpg' %}" alt=""></p>
<p style="margin-bottom: 0.19in;line-height: 0.25in;text-align: left;background: transparent;margin-top: 0.19in;">Педагогічна рада ліцею - один з найважливіших органів управління освітнього закладу. Саме вона несе фундаментальну функцію Ліцею через прийняття рішень щодо освітнього процесу. До складу даної ради входить <a href="https://radowell-lyceum.org.ua/team.html">весь педагогічний колектив</a> Долинського ліцею №1. На зборах Педагогічної ради Ліцею ухвалюються рішення щодо навчальних планів та програм, окреслюються проектні цілі, моделюються зміни у закладі, діагностується та моніториться діяльність. Основне завдання ради - підвищення професійного рівня педагогів та створення належного психологічного клімату в колективах учнів та вчителів.</p>
<p style="margin-bottom: 0.19in;line-height: 0.25in;text-align: left;background: transparent;margin-top: 0.19in;"><br>&nbsp;</p>
<p style="text-align: center;background: transparent;margin-top: 0.19in;margin-bottom: 0.19in;line-height: 0.25in;"><strong>Колективний орган громадського самоврядування (рада батьків здобувачів освіти)</strong></p>
<p style="margin-bottom: 0.19in;line-height: 0.25in;text-align: left;background: transparent;margin-top: 0.19in;">Згідно з чинним законом України &laquo;Про освіту&raquo; батьки &laquo;можуть брати участь у громадському самоврядуванні закладу освіти, зокрема обирати і бути обраними до органів громадського самоврядування закладу освіти&raquo;.</p>
<p style="margin-bottom: 0.19in;line-height: 0.25in;text-align: left;background: transparent;margin-top: 0.19in;">У Долинському ліцеї №1 діє загальношкільний батьківський комітет та батьківські ради кожного класу. Зокрема, шляхом голосування у кожному класі обиралися голова класної батьківської ради та помічники, які згодом увійшли до загальношкільного батьківського комітету. Загальношкільний батьківський комітет очолює голова батьківського комітету &ndash; <strong>Якимів Ірина Михайлівна</strong>.</p>
<p style="margin-bottom: 0.19in;line-height: 0.25in;text-align: left;background: transparent;margin-top: 0.19in;">Разом із батьками організовано процес комфортного перевезення дітей, прийнято цінності та правила ліцею, відбувається постійне удосконалення освітнього процесу та гурткової роботи. Іншими словами, активна участь батьків у житті школи допомагає здійснювати місію ліцею &laquo;Розвиваємося разом: діти &ndash; батьки &ndash; вчителі &ndash; громада&raquo;.</p>
<p style="margin-bottom: 0.19in;line-height: 0.25in;text-align: left;background: transparent;margin-top: 0.19in;"><br>&nbsp;</p>
<p style="text-align: center;background: transparent;margin-bottom: 0.11in;line-height: 108%;"><strong>Орган самоврядування здобувачів освіти (рада здобувачів освіти)</strong></p>
<p style="text-align: center;background: transparent;margin-bottom: 0.11in;line-height: 108%;"><img class="mw-100" src="{% static 'dnl1/images/managment-structure/managment.jpg' %}" alt=""></p>
<p style="margin-bottom: 0.19in;line-height: 0.25in;text-align: left;background: transparent;margin-top: 0.19in;">Щороку восени у Долинському ліцеї №1 відбуваються вибори з виборчою дільницею, бюлетенями та підрахунком голосів. Їм передують передвиборна програма, затята агітація &ndash; усе, як у великій політиці. Воно й не дивно &ndash; бо ж обираються органи учнівського самоврядування.</p>
<p style="margin-bottom: 0.19in;line-height: 0.25in;text-align: left;background: transparent;margin-top: 0.19in;">Кожен клас обирає на засіданні представників, які входять до числа шкільного парламенту.</p>
</div>
{% endblock %}


{% block jsfiles %}
<!-- links js here -->
{% endblock %}