{% extends 'dnl1/wrapper.html' %}

{% block title %}
Стоп булінг
{% endblock %}

{% block cssfiles %}
{% load static  %}
<!-- links css here -->
{% endblock %}

{% block content %}
<style>
    #document-iframe {
      width: 40%;
      height: 640px;
    }
    @media screen and (max-width: 900px) {
      #document-iframe {
        width: 70%;
      }
    }
    @media screen and (max-width: 640px) {
      #document-iframe {
        height: 500px;
      }
    }
    @media screen and (max-width: 400px) {
      #document-iframe {
        height: 350px;
      }
    }
    @media screen and (max-width: 900px) {
      #document-iframe {
        width: 70%;
      }
    }
    @media screen and (max-width: 640px) {
      #document-iframe {
        height: 500px;
      }
    }
    @media screen and (max-width: 400px) {
      #document-iframe {
        height: 350px;
      }
    }
    
    </style>

{% include "dnl1/includes/page-title.html" with title='Стоп булінг' %}

<article id="post-8324" class="post-8324 page type-page status-publish has-post-thumbnail hentry">

		
		
		
    <div class="container">
        
<h2>Що таке булінг?</h2>



<p><a href="https://zakon.rada.gov.ua/laws/show/80731-10?find=1&amp;text=%D0%B1%D1%83%D0%BB%D1%96%D0%BD%D0%B3#w1_1" class="rank-math-link" target="_blank" rel="noopener" role="link">Булінг</a>&nbsp;(цькування) – дії учасників освітнього процесу, які полягають у психологічному, фізичному, економічному чи сексуальному насильстві. Такі дії вчиняються стосовно дитини чи дитиною стосовно інших учасників освітнього процесу, внаслідок чого може бути заподіяна шкода психічному чи фізичному здоров’ю потерпілого. Булінг може здійснюватись також із застосуванням засобів електронних комунікацій.&nbsp;</p>



<p>Типовими ознаками булінгу (цькування) є:</p>



<ul><li>систематичність (повторюваність) діяння;</li><li>наявність сторін – кривдник (булер), потерпілий (жертва булінгу), спостерігачі (за наявності);</li><li>дії або бездіяльність кривдника, наслідком яких є заподіяння психічної та/або фізичної шкоди, приниження, страх, тривога, підпорядкування потерпілого інтересам кривдника, та/або спричинення соціальної ізоляції потерпілого.</li></ul>



<h2>Відповідальність за булінг</h2>



<p>Стаття на сайті освітнього омбудсмена України</p>



<div class="wp-block-ugb-button ugb-button-wrapper ugb-408b402 ugb-main-block"><style media="all">.ugb-408b402 .ugb-button1 .ugb-button--inner{color:var(--paletteColor2,#ff7728)!important}.ugb-408b402 .ugb-button1{border-color:var(--paletteColor2,#ff7728)!important;border-radius:30px!important}.ugb-408b402 .ugb-button1:hover .ugb-button--inner{color:var(--paletteColor2,#ff7728)!important}.ugb-408b402 .ugb-button1:before{border-radius:30px!important}</style><div class="ugb-inner-block"><div class="ugb-block-content"><div class="ugb-button-container"><a class="ugb-button1 ugb-button ugb-button--size-large ugb-button--design-ghost" href="https://eo.gov.ua/vidpovidal-nist-za-bulinh/" target="_blank" rel="noopener noreferrer" title="" role="link"><span class="ugb-button--inner">Переглянути</span></a></div></div></div></div>




<h2>План заходів</h2>

<div class="center"><iframe id="document-iframe" src="https://drive.google.com/file/d/11Wjxj_cZJyIMoTxayvYeGZwfRmIB05JP/preview" height="640"></iframe></div>

<h2 id="pr">Подання та розгляд заяв про випадки булінгу</h2>



<p>Порядок реагування на випадки булінгу (цькування)</p>



<div class="wp-block-ugb-button ugb-button-wrapper ugb-5b09701 ugb-main-block"><style media="all">.ugb-5b09701 .ugb-button1 .ugb-button--inner{color:var(--paletteColor2,#ff6201)!important}.ugb-5b09701 .ugb-button1{border-color:var(--paletteColor2,#ff6201)!important;border-radius:30px!important}.ugb-5b09701 .ugb-button1:hover .ugb-button--inner{color:var(--paletteColor2,#ff6201)!important}.ugb-5b09701 .ugb-button1:before{border-radius:30px!important}</style><div class="ugb-inner-block"><div class="ugb-block-content"><div class="ugb-button-container"><a class="ugb-button1 ugb-button ugb-button--size-large ugb-button--design-ghost" href="https://zakon.rada.gov.ua/laws/show/z0111-20#n16" target="_blank" rel="noopener noreferrer" title="" role="link"><span class="ugb-button--inner">Переглянути</span></a></div></div></div></div>



<p>Подання заяв або повідомлень про випадки булінгу (цькування) в закладі освіти, склад комісії, права та обов’язки її членів, порядок роботи комісії</p>



<div class="wp-block-ugb-button ugb-button-wrapper ugb-17769f3 ugb-main-block"><style media="all">.ugb-17769f3 .ugb-button1 .ugb-button--inner{color:var(--paletteColor2,#ff6201)!important}.ugb-17769f3 .ugb-button1{border-color:var(--paletteColor2,#ff6201)!important;border-radius:30px!important}.ugb-17769f3 .ugb-button1:hover .ugb-button--inner{color:var(--paletteColor2,#ff6201)!important}.ugb-17769f3 .ugb-button1:before{border-radius:30px!important}</style><div class="ugb-inner-block"><div class="ugb-block-content"><div class="ugb-button-container"><a class="ugb-button1 ugb-button ugb-button--size-large ugb-button--design-ghost" href="https://zakon.rada.gov.ua/laws/show/z0111-20#n68" target="_blank" rel="noopener noreferrer" title="" role="link"><span class="ugb-button--inner">Переглянути</span></a></div></div></div></div>



<p>Запобігання та протидія булінгу (цькуванню) в закладі освіти</p>



<div class="wp-block-ugb-button ugb-button-wrapper ugb-ac43eaa ugb-main-block"><style media="all">.ugb-ac43eaa .ugb-button1 .ugb-button--inner{color:var(--paletteColor2,#ff6201)!important}.ugb-ac43eaa .ugb-button1{border-color:var(--paletteColor2,#ff6201)!important;border-radius:30px!important}.ugb-ac43eaa .ugb-button1:hover .ugb-button--inner{color:var(--paletteColor2,#ff6201)!important}.ugb-ac43eaa .ugb-button1:before{border-radius:30px!important}</style><div class="ugb-inner-block"><div class="ugb-block-content"><div class="ugb-button-container"><a class="ugb-button1 ugb-button ugb-button--size-large ugb-button--design-ghost" href="https://zakon.rada.gov.ua/laws/show/z0111-20#n137" target="_blank" rel="noopener noreferrer" title="" role="link"><span class="ugb-button--inner">Переглянути</span></a></div></div></div></div>



<h2 id="nb">Нормативна база</h2>



<p><a href="https://zakon.rada.gov.ua/laws/show/2657-19" target="_blank" rel="noreferrer noopener" role="link">Закон України “Про внесення змін до деяких законодавчих актів України щодо протидії булінгу (цькуванню)”</a></p>



<p><a href="https://drive.google.com/file/d/1UBX_0TiaWHWSTcZUI_Pb2fLfa6WApaY7/view?usp=sharing" target="_blank" rel="noreferrer noopener" role="link">Наказ Департаменту освіти і науки від 11.01.2019р. №09 “Про запобігання булінгу в системі освіти Київської області”</a></p>



<p><a href="https://docs.google.com/document/d/1NiUP7LVOE4uZgsXSrDg43k9eXu-AwxepVx6u_sG7Plw/edit?usp=sharing" target="_blank" rel="noreferrer noopener" role="link">Додаток до листа Міністерства освіти і науки України від 07.08.2018 №1/9-486 “Інформаційні матеріали про деякі питання організації в закладах освіти виховної роботи щодо безпеки й благополуччя дитини”</a></p>



<p><a href="https://drive.google.com/file/d/1Z0d3U-M48PrGm6gYBKaGFCfm8f1AW8kj/view?usp=sharing" target="_blank" rel="noreferrer noopener" role="link">Рекомендації для закладів освіти щодо застосування норм Закону України «Про внесення змін до деяких законодавчих актів України щодо протидії булінгу (цькуванню)» від 18 грудня 2018 р. № 2657-VIII</a></p>



<p><a href="https://zakon.rada.gov.ua/laws/show/658-2018-%D0%BF" target="_blank" rel="noreferrer noopener" role="link">Постанова&nbsp;від 22 серпня 2018 р. № 658 “Про затвердження Порядку взаємодії суб’єктів, що здійснюють заходи у сфері запобігання та протидії домашньому насильству і насильству за ознакою статі”</a></p>



<p><a href="https://drive.google.com/drive/folders/1YMJuAJD97Fum5MNwbP64GApeOLSCbH4U?usp=sharing" target="_blank" rel="noreferrer noopener" role="link">Інші документи</a></p>


</div>

    
    
    
    
</article>
{% endblock %}


{% block jsfiles %}
<!-- links js here -->
{% endblock %}