{% extends 'dnl1/wrapper.html' %}

{% block title %}
Про структуру 2021-2022 навчального року
{% endblock %}

{% block cssfiles %}
{% load static  %}
<!-- links css here -->
{% endblock %}

{% block content %}
{% include "dnl1/includes/page-title.html" with title='Структура 2021-22 н.р.' %} <!-- title here instead of ДНЛ -->

<div class="container">
    <p>Про структуру 2021-2022 навчального року</p>
    <p>Враховуючи вимоги Закону України «Про освіту», який регламентує освітній процес (тривалість навчального тижня, відпочинку між ними, форми організації освітнього процесу, навчальне навантаження, тривалість канікул), пропонуємо таку структуру навчального року:</p>   
    <br>
    <p>Тривалість 2021-2022 навчального року:</p>
    <p>01.09.2021 р. – 07.06.2022р.</p>
    <br> 
    <p>І семестр – 01.09.2021р. – 31.12.2021р.;</p>
    <p>ІІ семестр – 17.01.2022р. – 07.06.2022р.</p>
    <br>
    <p>Канікули: </p>
    <p>осінні – 25.10.2021р. – 31.10.2021р.; </p>
    <p>зимові – 01.01.2022р. – 16.01.2022р.; </p>
    <p>весняні – 28.03.2022р. – 03.04.2022р.</p>
    <br>

    <img src="https://pon.org.ua/uploads/posts/2017-06/1497356962_portfel.png" class="mw-100">
</div>
{% endblock %}


{% block jsfiles %}
<!-- links js here -->
{% endblock %}